#ignorer le répertoire virtuel
venv/

#ignorer les fichiers:

df_classification_binaire.csv
df_clean_imputed.csv

df_train.csv
df_train_i.csv
df_test_i.csv
df_test.csv

X_train_eval.csv
y_train_eval.csv
X_final.csv
y_final.csv
X_api.csv
y_api.csv

data_drift/application_test.csv
data_drift/application_train.csv

mon_notebook_models.ipynb
api/application_test.csv

feature_importances_t.csv






