#ignorer le répertoire virtuel
venv/

#ignorer les fichiers:

df_classification_binaire.csv
df_clean_imputed.csv

df_train.csv
random_forest_model_f.joblib
mlruns/751893581063831710
best_params_rf.pkl
results_random_forest.csv


best_params_dc.pkl
df_test.csv
dummy_classifier_model_f.joblib


results_dummy_classifier.csv
