#ignorer le répertoire virtuel
venv/

#ignorer les fichiers:

y_final.csv
X_final.csv
y_train_eval.csv
X_train_eval.csv
df_clean_imputed.csv

y_final2.csv
X_final2.csv
y_train_eval2.csv
X_train_eval2.csv
X_api.csv
y_api.csv
